@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display&display=swap');

.custom-scroll::-webkit-scrollbar {
    width: 0.8rem;
}

.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 2rem;
    border: 1px solid #ccc;
    background-color: #fff;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
}

.app {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Lato','Playfair Display', sans-serif;
}

.app_navbar {
    /* width: 100%; */
    text-align: center;
    padding: 2rem 3rem;
    border-bottom: 1px solid #ccc;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 1px 15px -4px gray;
    font-size: 1.1rem;
}


.app_outer {
    flex: 1;
    width: 100%;
    overflow-x: auto;
}

.app_boards {
    padding: 1.5rem;
    padding-bottom: 0;
    height: 100%;
    display: flex;
    gap: 3rem;
    min-width: fit-content;
}

.board {
    min-width: 37rem;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    /* height: 100%; */
    height: fit-content;
}

.board_top {
    display: flex;
}

.board_top_title {
    flex: 1;
    display: flex;
    align-items: center;
    font-weight: bold;
    gap:5px;
}

.board_top_title span {
    color: gray;
}

.board_cards {
    flex: 1;
    height: 100%;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-bottom: 1rem;
    overflow-y: auto;
}

.chip {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    padding: 0.5rem 0.5rem;
    border-radius: 2.3rem;
    font-size: 1rem;
    color: #fff;
    background-color: gray;
    width: fit-content;

}

.chip svg {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.card {
    padding: 0.8rem;
    border-radius: 0.3rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.card_top {
    display: flex;
    gap: 0.2rem;
}

.card_top_labels {
    flex: 1;
    display: flex;
    gap: 0.8rem;
}

.card_top svg {
    opacity: 0;
    transition: 200ms;
}

.card:hover .card_top svg {
    opacity: 1;
}

.card_title {
    font-weight: bold;

}

.card_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.card_footer svg {
    height: 1.6rem;
    width: 1.6rem;
}

.card_footer p {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.editable {
    width: 100%;
}

.editable_display {
    background-color: #f8f8f8;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    cursor: default;
}

.editable_display:hover {
    background-color: #ccc;
    color: black;  
    font-weight: bold;
}

.editable_edit {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;

}

.editable_edit input {
    border-radius: 3px;
    outline: none;
    border: 1px solid #1379ec;
    padding: 0.9rem;
    font-size: 1rem;
}

.editable_edit_footer {
    display: flex;
    gap: 0.9rem;
    align-items: center;
}

.editable_edit_footer button {
    outline: none;
    border: none;
    color: #fff;
    background-color: #1379ec;
    transition: 200ms;
    padding: 0.6rem 1rem;
    border-radius: 5px;

}

.editable_edit_footer button:hover {
    background-color: #0765d1;

}

.editable_edit_footer svg {
    cursor: pointer;
}

.board_cards_add {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 2px 0 1px rgba(0, 0, 0, 0.15);
}

.board_cards_add:hover {
    box-shadow: 1px 2px 0 1px #ccc;
}

.app_boards_board {
    width: 30rem;
}

.app_boards_board_add {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 2px 0 1px rgba(0, 0, 0, 0.15);
}

.app_boards_board_add:hover {
    box-shadow: 1px 2px 0 1px #ccc;
}

.board_top_more{
    position: relative;
    cursor: pointer;
}
.card_top_more{
    position: relative;
    cursor: pointer;
}

.board_dropdown{
    background-color: #fff;
    width: 10rem;
    padding: 0.8rem;
    border-radius: 3px;
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.board_dropdown p{
    cursor: pointer;
}

.card_dropdown{
    background-color: #fff;
    width: 10rem;
    padding: 0.8rem;
    border-radius: 3px;
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.card_dropdown p{
    cursor: pointer;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
.modal_content{
    background-color: #fff;
    border-radius: 3px;
    max-height: 95vh;
    overflow-y: auto;
}
.cardinfo{
    padding: 2rem;
   background-color: #fff;
   display: flex;
   flex-direction: column;
   gap: 2rem;
   width: 65.5rem;
   /* width: 600px; */
}

.cardinfo_box{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}
.cardinfo_box_title{
    font-weight: bold;
    font-size: 2.1rem;
    display: flex;
    gap: 0.8rem;
    align-items: center;
}
.cardinfo_box_body{
    width: fit-content;
}
.cardinfo_box_body input{
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    font-size: 1.6rem;
}
.cardinfo_box_colors{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cardinfo_box_colors li{
    height: 24px;
    width: 24px;
    border-radius: 50%;
    list-style: none;
    border: 3px solid transparent;
    transition: 200ms;
}
.cardinfo_box_colors .active{
    border: 3px solid black;
    scale: 0.8;
}

.cardinfo_box_progress_bar{
     height: 10px;
     border-radius: 20px;
     width: 100%;
     border:  1px solid #ccc;

}
.cardinfo_box_progress{
    background-color: #1379ec;
    height: 10px;
    border-radius: 20px;
}
.cardinfo_box_progress-active{
    background-color: limegreen;
}

.cardinfo_box_list{
    display:flex ;
    flex-direction: column;
    gap: 10px;
}
.cardinfo_task{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 8px 0;
}

.cardinfo_task input,.cardinfo_task svg{
    height: 18px;
    width: 18px;
    cursor: pointer;
}

.cardinfo_task p{
    flex: 1;
    line-height:20px;


}

.cardinfo_box_labels{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.modal_close{
    display: flex;
    justify-content: end;
    padding: 6px;
    visibility: hidden;
}

@media screen and (max-width:360px) {
    .app_boards{
        flex-direction: column;
    }
    .cardinfo{
        width: 256px;
    }
    .modal_close{
     /* display: block; */
     visibility: visible;
    }
    .app_navbar{
        height: 30px;
        font-size: 5px;
    }
    .board_cards{
        width: 208px;
    }
}